@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: "Poppins", sans-serif;
  background: #f0f8ff;
  width: 100vw;
  height: 100vh;
  
}

.section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(25rem, 2fr));
  gap: 2rem;
  padding: 2rem;
}

.product{
background: #ffffff;
width: 25rem;
height: 35rem;
border-radius: 1.2rem;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
padding: 1.5rem;
text-align: center;
transition: transform 0.3s ease, box-shadow 0.3s ease;
overflow: hidden;
}

.product:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.product img{
  width: 100%;
  max-width: 15rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 0.8rem;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}

.product:hover img {
  transform: scale(1.05);
}


.product h3{
  font-size: 1.8rem;
  color: #333;
  margin: 1rem 0;
}


.product p{
  font-size: 1.4rem;
  color: #666;
  margin-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* সর্বোচ্চ ৩ লাইন দেখাবে */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.product .price{
  font-weight: bold;
  color: #e44d26;
  font-size: 1.6rem;
}


.load-more-btn {
  display: block;
  width: fit-content;
  margin: 20px auto;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(45deg, #ff7e5f, #feb47b);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.load-more-btn:hover {
  background: linear-gradient(45deg, #feb47b, #ff7e5f);
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.load-more-btn:active {
  transform: translateY(1px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.load-more-btn:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 126, 95, 0.8);
}


/* Responsive Design */
@media (max-width: 768px) {
  .products-container {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}